@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomInventoryApp.Models.ApplicationUser> SignInManager
@inject UserManager<CustomInventoryApp.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            Hello @UserManager.GetUserName(User)!
        </a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
